h1  {
  color: red;
  text-align: left;
}
h2 {
  color: red;
  text-aling: left;
}
h3 {
  color: black;
  text-align: left;
}
body {
  color:"fffff";
  font-size: "4";
  font-family: "Times New Roman";
}


