
h1{

height: 5%;
margin: 4%;
text-align: center;
width: 30%
color: black;
font-family: Cooper Black;
font-size:30;

}

h2{

height: 2%;
margin: 3%;
text-align: left;
width: 1%;
color: black;
font-family: Comic sans;
font-size:20;
#contenido {text-align:left}

}

p2{

height: 5%;
margin:3%;
text-align: left;
width: 90%;
color: black;
font-family: Comic sans;
font-size:20;

}

h3{

height: 2%;
margin: 3%;
text-align: left;
width: 25%;
color: black;
font-family: Comic sans;
font-size:20;
#contenido {text-align:left};

}

.elemento {
	font-weight: bold;
	padding: 50px 0;
	font-family: Comic sans;
	font-size: 20;
}

h4{

height: 1%;
margin:3%;
text-align: left;
width: 90%;
color: black;
font-family: Comic sans;
font-size:20;
font-weight: normal;
#contenido {text-align:left};
}

h5{

height: 1%;
margin: 0%;
text-align:left;
width: 90%;
font-size:20;
font-weight: normal;

}

h6{

height: 2%;
margin: 0%;
text-align:left;
width: 90%;
font-size:20;
font-weight: normal;

}

p{

height: 2%;
margin: 0%;
text-align:left;
width: 90%;
font-size:20;
font-weight: normal;

p{

height: 2%;
margin: 0%;
text-align:left;
width: 9%;
font-size:20;
font-weight: normal;

}

h9{

height: 2%;
margin: 0%;
text-align: left;
width: 25%;
color: black;
font-family: Comic sans;
font-size:90px;

}