h1 {
  color: red;
  text-align: center;
  font size:14pt;
}
.titulo-pagina{
  font-size: 14pt;
}
a {
  font-size: 20pt;
  text-align: left;
}

.arts {
  color: red;
  text-align:left;
  font-size:28pt;

}
 p{
font-size: 13
pt;
}

.h1 {

  color: red;
text-align: left;;
}

.tm {

text-align:left ;


}
