h1{
  text-align: center;;
color: red;
}

h3{
  text-align: left;
  color: white;
}

p{
  text-align: center;
  color: #0101DF;
}

h2{
  text-align: left;
  color: #B23333;
}

li{
  color: red;
  text-align: center;
}
